<!--header template content-->
<html>
<head>
    <style>
        * {
            font-size: 12pt;
        }

        .taxt-right {
            float: right;
        }
    </style>
</head>
<body>
    @*<table cellpadding="0" cellspacing="0" style="width:100%;padding:15px 25px 0px 25px;">
        <tr class="top">
            <td style="width:50%;text-align:left;">Page No:&nbsp;<span class="pageNumber"></span>&nbsp;of&nbsp;<span class="totalPages"></span></td>
            <td style="width:50%;text-align:right;background-color:antiquewhite;"><span class="text-align-right">&nbsp;Printed date: @string.Format("{0:dd-MM-yyyy hh:mm:ss}", DateTime.Now)</span></td>
        </tr>
    </table>*@
</body>
</html>
