* {
    box-sizing: border-box;
}

html, body {
    font-family: Tahoma;
    font-size: 10pt;
}

.column {
    float: left;
    width: 533px;
    padding: 2px;
    height: 330px;
    border: 1px solid #eee;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.card {
    border: 1px solid #eee;
    padding: 10px;
    background-color: none;
    height: 100%;
    position: relative;
}
