* {
    box-sizing: border-box;
    
}

html {
    height: 0px;
}

.column {
    float: left;
    width: 364px;
    padding: 2px;
    height: 213px;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.card {
    border: 1px solid #eee;
    padding: 10px;
    background-color: none;
    height: 100%;
    position: relative;
}