/* Write your CSS code. */
@media print {
    ::-webkit-scrollbar {
        display: none;
    }
}

.alert {
    position: fixed !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 10000 !important;
}

/*th {
    border-top: 0.1em solid #dddddd !important;
    border-bottom: 0.1em solid #dddddd !important;
    border-right: 0.1em solid #dddddd !important;
}

th:first-child {
    border-left: 0.1em solid #dddddd !important;
}*/

table.dataTable {
    /*margin: 0 auto;*/
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
}

    table.dataTable th {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
        background: #eeeeee; /* Old browsers */
        background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    }

/*table.dataTable tbody tr:nth-child(even):hover td {
    background-color: red !important;
}

table.dataTable tbody tr:nth-child(odd):hover td {
    background-color: blue !important;
}*/

table.dataTable tbody tr:hover td {
    background-color: #FAFCD1 !important;
}

table.dataTable tr.odd {
    background-color: white;
}

table.dataTable tr.even {
    background-color: #FCFCFC;
}

table.dataTable tbody > tr > td {
    max-width: 180px;
    min-width: 20px;
    /*word-wrap: normal;
    word-break: break-all;*/
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    border: 0.01em solid #dddddd !important;
}

table.dataTable thead > tr > th {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: lightskyblue;
    font-size: small;
    border: 0.01em solid #dddddd !important;
    height: 22px;
}

th.dt-header-center {
    text-align: center;
}

td.dt-left {
    text-align: left;
}

td.dt-bold-left {
    font-weight: bold;
    text-align: left;
}

td.dt-center {
    text-align: center;
}

td.dt-bold-center {
    font-weight: bold;
    text-align: center;
}

td.dt-right {
    text-align: right;
}

td.dt-bold-right {
    font-weight: bold;
    text-align: right;
}

td.boldColumn {
    font-weight: bold;
}

.content-wrapper,
.right-side {
    background-color: #ffffff;
}

/*For modal Fade*/
.modal.fade {
    background: none !important;
}

.modal-header {
    border-radius: 8px 8px 0px 0px;
    color: black;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.modal-footer {
    height: 50px !important;
}

.form-control.text-code {
    text-transform: uppercase;
    font-weight: bold;
}

.form-control.text-bold {
    font-weight: bold;
}

.form-control.text-upper {
    text-transform: uppercase;
}

.form-control.text-align-right {
    text-align: right;
}

.form-group {
    margin-bottom: 9px !important;
}

.form-horizontal .control-label.text-left {
    text-align: left !important;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.login-System-logo img {
    width: 360px !important;
    height: 120px !important;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 0px !important;
    margin-bottom: 0px;
    font-weight: 400;
    cursor: pointer;
}

.modal-content {
    border-radius: 8px;
}

/*-- Button --*/
.btn-create {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-create:hover,
.btn-create:active,
.btn-create.hover {
    background-color: #e7e7e7;
}

.btn-view {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-view:hover,
.btn-view:active,
.btn-view.hover {
    background-color: #e7e7e7;
}

.btn-edit {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-edit:hover,
.btn-edit:active,
.btn-edit.hover {
    background-color: #e7e7e7;
}

.btn-delete {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-delete:hover,
.btn-delete:active,
.btn-delete.hover {
    background-color: #e7e7e7;
}

.btn-save {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-save:hover,
.btn-save:active,
.btn-save.hover {
    background-color: #e7e7e7;
}

.btn-cancel {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel.hover {
    background-color: #e7e7e7;
}

.btn-upload {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-upload:hover,
.btn-upload:active,
.btn-upload.hover {
    background-color: #e7e7e7;
}
